# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled Angular 2 output
/dist

# files generated during the build process.
/client/app/environment.ts
/public/js/bundle.js
/public/js/bundle.min.js
/css/style.css

# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
npm-debug.log
/typings

#System Files
.DS_Store
Thumbs.db
