# See http://help.github.com/ignore-files/ for more about ignoring files.

# build output
/build
/dist

# files generated during the build process.
/client/app/environment.ts

# dependencies
/node_modules

# test ouput
_reports
_karma-reports

# IDEs and editors
/.idea

# misc
npm-debug.log
/typings

# System Files
.DS_Store
Thumbs.db
